<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.ApproveMapper">


    <insert id="insertApprove" parameterType="com.yuji.polygon.entity.Approve" useGeneratedKeys="true" keyProperty="id">
        insert into poly_approve set flow_no=#{flowNo}, business_no=#{businessNo}, flow_node_no=#{flowNodeNo},
        approve_no=#{approveNo},approve_name=#{approveName}, approve_info=#{approveInfo}, approve_state=#{approveState}, approve_date=#{approveDate}
    </insert>


    <update id="updateApprove" parameterType="com.yuji.polygon.entity.Approve">
        update poly_approve set
        <if test="approveInfo != null">
            approve_info = #{approveInfo},
        </if>
        <if test="approveDate != null">
            approve_date = #{approveDate},
        </if>
        approve_state = #{approveState}
        where flow_node_no = #{flowNodeNo}
    </update>

    <select id="getApproveByApproveNo" resultType="com.yuji.polygon.entity.ApproveVO">
        select
            a.`id` as id,
            a.`flow_no` as flowNo,
            a.`business_no` ,
            a.`flow_node_no`,
            a.`approve_no`,
            a.`approve_name`,
            a.`approve_info`,
            a.`approve_date`,
            fn.`flow_node_name`,
            case a.`approve_state`
                when 0 then
                    '未审批'
                when 1 then
                    '同意'
                when -1 then
                    '驳回'
            end
                approveState
        from
            poly_approve a,
            poly_flow_node fn
        where
            a.`approve_no` = #{approveNo}
            and a.`flow_node_no`=fn.`id`
    </select>
    
    <select id="getApproveByFlowNo" resultType="com.yuji.polygon.entity.ApproveVO">
        select
            a.`id` as id,
            a.`flow_no` as flowNo,
            a.`business_no` ,
            a.`flow_node_no`,
            a.`approve_no`,
            a.`approve_name`,
            a.`approve_info`,
            a.`approve_date`,
            fn.`flow_node_name`,
            case a.`approve_state`
                when 0 then
                    '未审批'
                when 1 then
                    '同意'
                when -1 then
                    '驳回'
            end
                approveState
        from
            poly_approve a,
            poly_flow_node fn
        where
            a.`flow_no` = #{flowNo}
            and a.`flow_node_no`=fn.`id`
    </select>

    <delete id="deleteApproveByBusinessNo">
        delete from poly_approve where business_no = #{businessNo}
    </delete>

</mapper>