<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.AuditMapper">

    <resultMap id="BaseResultMap" type="com.yuji.polygon.entity.Audit">
        <id column="id" property="id"/>
        <result column="business_no" property="businessNo"/>
        <result column="flow_node_no" property="flowNodeNo"/>
        <result column="employee_no" property="employeeNo"/>
        <result column="employee_name" property="employeeName"/>
        <result column="audit_info" property="auditInfo"/>
        <result column="audit_state" property="auditState"/>
        <result column="audit_date" property="auditDate"/>


    </resultMap>


    <insert id="insertAudit" parameterType="com.yuji.polygon.entity.Audit" useGeneratedKeys="true" keyProperty="id">
        insert into poly_audit set business_no=#{businessNo}, flow_node_no=#{flowNodeNo}, employee_no=#{employeeNo},
        employee_name=#{employeeName}
        ,audit_info=#{auditInfo}, audit_state=#{auditState}, audit_date=#{auditDate}
    </insert>


    <update id="updateAudit" parameterType="com.yuji.polygon.entity.Audit">
        update poly_audit set
        <if test="auditInfo != null">
            audit_info = #{auditInfo},
        </if>
        <if test="auditDate != null">
            audit_date = #{auditDate},
        </if>
        audit_state = #{auditState}
        where flow_node_no = #{flowNodeNo}
    </update>

    <select id="findAuditByEmployeeNo" resultType="com.yuji.polygon.entity.Audit">
        select * from poly_audit where employee_no = #{employeeNo}
    </select>

    <delete id="deleteAuditByBusinessNo">
        delete from poly_audit where business_no = #{businessNo}
    </delete>

</mapper>