<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.yuji.polygon.entity.Employee">
        <id column="id" property="id"/>
        <result column="employee_no" property="employeeNo" />
        <result column="employee_name" property="employeeName"/>
        <result column="password" property="password" />
        <result column="department_id" property="departmentId" />
        <result column="enabled" property="enabled" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <collection property="roles" ofType="com.yuji.polygon.entity.Role" >
            <result column="id" property="id" />
            <result column="name" property="name" />
        </collection>
    </resultMap>


    <insert id="insertEmployee" parameterType="com.yuji.polygon.entity.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into poly_employee(employee_no, employee_name, password, department_id, enabled, gmt_create, gmt_modified)
        values (#{employeeNo}, #{employeeName}, #{password}, #{departmentId}, #{enabled}, #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="getEmployeeByEmployeeNo" parameterType="java.lang.String" resultMap="BaseResultMap">
       select e.*, r.id,r.name
       from poly_employee e, poly_employee_role er, poly_role r
       where e.`employee_no`=#{employeeNo} and e.`id` = er.`eid` and er.`rid` = r.`id`
    </select>

    <delete id="deleteEmployeeById">
        delete
            poly_employee,
            poly_employee_role
        from
            poly_employee left join poly_employee_role on poly_employee.`id`=poly_employee_role.`eid`
        where
            id = #{id}
    </delete>

    <update id="updateEmpolyee">
        update poly_employee
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="departmentId &gt; 0">
                department_id = #{departmentId},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>