<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.EmployeeRoleMapper">


    <insert id="insertEmployeeRole" useGeneratedKeys="true">
        insert into poly_employee_role(eid,rid) values
        <foreach collection="rids" item="rid" separator="," >
            (#{eid},#{rid})
        </foreach>

    </insert>

    <delete id="deleteEmployeeRole">
        delete
        from
            poly_employee_role
        <where>
            poly_employee_role.`eid`=#{eid}
            <if test="rids.length &gt; 0">
                and poly_employee_role.`rid` in
                <foreach collection="rids" item="rid" open="(" close=")" separator=",">
                    #{rid}
                </foreach>
            </if>
        </where>
    </delete>



</mapper>