<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.EmployeeMapper">

    <resultMap id="BaseResultMap" type="com.yuji.polygon.entity.Employee">
        <id column="id" property="id"/>
        <result column="no" property="no" />
        <result column="name" property="name"/>
        <result column="password" property="password" />
        <result column="mail" property="mail" />
        <result column="department_id" property="departmentId" />
        <result column="enabled" property="enabled" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <collection property="roles" ofType="com.yuji.polygon.entity.Role" >
            <result column="rid" property="id" />
            <result column="name" property="name" />
            <result column="name_zh" property="nameZh" />
            <result column="gmt_create" property="gmtCreate" />
            <result column="gmt_modified" property="gmtModified" />
        </collection>
    </resultMap>

    <resultMap id="BaseResultMapVO" type="com.yuji.polygon.entity.EmployeeVO">
        <id column="id" property="id"/>
        <result column="no" property="no" />
        <result column="name" property="name"/>
        <result column="password" property="password" />
        <result column="mail" property="mail" />
        <result column="enabled" property="enabled" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <collection property="roles" ofType="com.yuji.polygon.entity.Role" >
            <result column="rid" property="id" />
            <result column="name" property="name" />
            <result column="name_zh" property="nameZh" />
            <result column="gmt_create" property="gmtCreate" />
            <result column="gmt_modified" property="gmtModified" />
        </collection>
    </resultMap>


    <insert id="insertEmployee" parameterType="com.yuji.polygon.entity.Employee" useGeneratedKeys="true" keyProperty="id">
        insert into poly_employee(no, name, password, mail, department_id, enabled, gmt_create, gmt_modified)
        values (#{no}, #{name}, #{password}, #{mail}, #{departmentId}, #{enabled}, #{gmtCreate}, #{gmtModified})
    </insert>

    <select id="getEmployeeByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
       select
            e.*,
            r.`id` as rid,
            r.`name`,
            r.`name_zh`,
            r.`gmt_create`,
            r.`gmt_modified`
       from
            poly_employee e,
            poly_employee_role er,
            poly_role r,
            poly_department d
       where
           e.`no`=#{no} and e.`id` = er.`eid` and er.`rid` = r.`id` and e.`department_id`=d.`id`
    </select>

    <select id="getEmployeeByNos"  resultMap="BaseResultMap">
       select
            e.*,
            r.`id` as rid,
            r.`name`,
            r.`name_zh`,
            r.`gmt_create`,
            r.`gmt_modified`
       from
            poly_employee e,
            poly_employee_role er,
            poly_role r,
            poly_department d
       where
            e.`id` = er.`eid` and er.`rid` = r.`id` and e.`department_id`=d.`id` and e.`no` in
            <foreach collection="nos" item="no" open="(" separator="," close=")">
                #{no}
            </foreach>
    </select>

    <select id="getEmployeeByEid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
       select
            e.*,
            r.`id` as rid,
            r.`name`,
            r.`name_zh`,
            r.`gmt_create`,
            r.`gmt_modified`
       from
            poly_employee e,
            poly_employee_role er,
            poly_role r,
            poly_department d
       where
            e.`id`=#{eid} and e.`id` = er.`eid` and er.`rid` = r.`id` and e.`deparment_id`=d.`id`
    </select>
    
    <select id="countTotalEmployee" resultType="java.lang.Integer" >
        select
            count(*)
        from
            poly_employee
        <where>
            <if test="no != null and no != '' ">
                and no = #{no}
            </if>
            <if test="name != null and name != '' ">
                and name like concat('%',#{name},'')
            </if>
            <if test="departmentId &gt; 0">
                and department_id = #{departmentId}
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="getAllEmployee" resultMap="BaseResultMapVO" >
        select
            e.*,
            d.`name` as department_name,
            r.`id` as rid,
            r.`name`,
            r.`name_zh`,
            r.`gmt_create`,
            r.`gmt_modified`
        from
            poly_employee e,
            poly_employee_role er,
            poly_role r,
            poly_department d
        <where>
            e.`id` = er.`eid` and er.`rid` = r.`id` and e.`department_id`=d.`id`
            <if test="employee != null"></if>
                <if test="employee.no != null and employee.no != '' ">
                    and no = #{employee.no}
                </if>
                <if test="employee.name != null and employee.name != '' ">
                    and name = #{employee.name}
                </if>
                <if test="employee.departmentId &gt; 0">
                    and department_id = #{employee.departmentId}
                </if>

            limit #{startIndex},#{pageSize}
        </where>

    </select>

    <select id="getEmployeeByRoleAndDept" resultMap="BaseResultMapVO">
       select
            e.*,
            d.`name` as department_name,
            r.`id` as rid,
            r.`name` as rname,
            r.`name_zh`,
            r.`gmt_create`,
            r.`gmt_modified`
        from
            poly_employee e,
            poly_employee_role er,
            poly_role r,
            poly_department d
        where
            e.`id`=er.`eid`
            and er.`rid`=r.`id`
            and r.`id` = #{rid}
            and e.`department_id`=#{deptId}
            and e.`department_id`=d.`id`
    </select>

    <delete id="deleteEmployeeById">
        delete
            poly_employee,
            poly_employee_role
        from
            poly_employee left join poly_employee_role on poly_employee.`id`=poly_employee_role.`eid`
        where
            poly_employee.id = #{id}
    </delete>

    <update id="updateEmployee">
        update poly_employee
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="mail != null">
                mail = #{mail},
            </if>
            <if test="department.id &gt; 0">
                department_id = #{department.id},
            </if>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updatePassword">
        update poly_employee
        <set>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="updateEnabled">
        update poly_employee
        <set>
            <if test="enabled != null">
                enabled = #{enabled},
            </if>
            <if test="gmtModified != null">
                gmt_modified = #{gmtModified}
            </if>
        </set>
        where id = #{id}
    </update>


</mapper>