<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.FileSignMapper">

    <resultMap id="BaseResultMap" type="com.yuji.polygon.entity.FileSign">
        <id column="id" property="id"/>
        <result column="employee_no" property="employeeNo"/>
        <result column="employee_name" property="employeeName"/>
        <result column="project_no" property="projectNo"/>
        <result column="file_path" property="filePath"/>
        <result column="flow_no" property="flowNo"/>
        <result column="flow_state" property="flowState"/>
        <result column="current_node" property="currentNode"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>

    </resultMap>


    <insert id="insertFileSign" parameterType="com.yuji.polygon.entity.FileSign" useGeneratedKeys="true"
            keyProperty="id">
        insert into poly_file_sign set employee_no=#{employeeNo}, employee_name=#{employeeName},
        project_no=#{projectNo}, file_path=#{filePath}
        ,flow_no=#{flowNo}, flow_state=#{flowState}, current_node=#{currentNode}, gmt_create=#{gmtCreate},
        gmt_modified=#{gmtModified}
    </insert>


    <update id="updateFileSign" parameterType="com.yuji.polygon.entity.FileSign">
        update poly_file_sign set
        flow_state = #{flowState},
        <if test="currentNode &gt; -1">
            current_node = #{currentNode},
        </if>
        <if test="gmtModified != null">
            gmt_modified = #{gmtModified}
        </if>
        where flow_no = #{flowNo}
    </update>

    <select id="getFileSignById" resultType="com.yuji.polygon.entity.FileSign">
        select * from poly_file_sign where id = #{id}
    </select>

    <select id="countTotal" parameterType="com.yuji.polygon.entity.FileSign">
        select count(*) from poly_file_sign
        <where>
            <if test="id &gt; 0">
                and id = #{id}
            </if>
            <if test="emlpoyeeNo != null and employeeNo != '' ">
                and employee_no = #{employeeNo}
            </if>
            <if test="projectNo != null and projectNo != '' ">
                and project_no = #{projectNo}
            </if>
            <if test="flowNo != null and flowNo != '' ">
                and flow_no = #{flowNo}
            </if>
            <if test="flowState &gt; -1 and flowState &lt; 2">
                and flowState = #{flowState}
            </if>
        </where>
    </select>

    <select id="listFileSign" parameterType="java.util.Map" resultType="com.yuji.polygon.entity.FileSign">
        select count(*) from poly_file_sign
        <where>
            <if test="fileSign != null">
                <if test="fileSign.id &gt; 0">
                    and id = #{id}
                </if>
                <if test="fileSign.emlpoyeeNo != null and fileSign.employeeNo != '' ">
                    and employee_no = #{fileSign.employeeNo}
                </if>
                <if test="fileSign.projectNo != null and fileSign.projectNo != '' ">
                    and project_no = #{fileSign.projectNo}
                </if>
                <if test="fileSign.flowNo != null and fileSign.flowNo != '' ">
                    and flow_no = #{fileSign.flowNo}
                </if>
                <if test="fileSign.flowState &gt; -1 and fileSign.flowState &lt; 2">
                    and flowState = #{fileSign.flowState}
                </if>
            </if>

        </where>
        order by gmt_modified desc limit #{startIndex},#{pageSize}
    </select>

    <delete id="deleteFileSignById">
        delete from poly_file_sign where id = #{id}
    </delete>

</mapper>