<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.PermissionMapper">


    <insert id="insertPermission" parameterType="com.yuji.polygon.entity.Permission" useGeneratedKeys="true" keyProperty="id">
        insert into poly_permission (pid,type,gmt_create,gmt_modified) values (#{pid},#{type},#{gmtCreate},#{gmtModified})
    </insert>


    <delete id="deletePermissionById">
        delete from poly_permission where id=#{id}
    </delete>

</mapper>