<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.RoleMapper">


    <insert id="insertRole" parameterType="com.yuji.polygon.entity.Role" useGeneratedKeys="true" keyProperty="id">
        insert into poly_role(name,name_zh,gmt_create,gmt_modified)
        values (#{name},#{nameZh},#{gmtCreate},#{gmtModified})
    </insert>

    <select id="getRoleByEmployeeId"  resultType="com.yuji.polygon.entity.Role">
       select
            r.*
       from
            poly_role r, poly_employee_role er
       where
            er.`eid` = #{eid} and er.`rid` = r.`id`
    </select>

    <select id="countTotalRole" resultType="java.lang.Integer" >
        select
            count(*)
        from
            poly_role
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'')
                or name_zh like concat('%',#{name},'')
            </if>
        </where>
    </select>

    <!-- 分页查询 -->
    <select id="getRolePage" resultType="com.yuji.polygon.entity.Role">
        select
            *
        from
            poly_role
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'')
                or name_zh like concat('%',#{name},'')
            </if>
        </where>
        limit #{startIndex},#{pageSize}
    </select>

    <select id="getAllRole" resultType="com.yuji.polygon.entity.Role">
        select * from poly_role
    </select>

    <!-- 删除一个或多个角色 -->
    <delete id="deleteRoleById">
        delete
            poly_role,
            poly_role_permission
        from
            poly_role left join poly_role_permission on poly_role.`id`=poly_role_permission.`rid`
        <where>
            <if test="ids.length &gt; 0">
                poly_role.`id` in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>

    </delete>

    <update id="updateRoleBase" parameterType="com.yuji.polygon.entity.Role">
        update poly_role
        <set>
            <if test="name != null and name != ''">
                name=#{name},
            </if>
            <if test="nameZh != null and nameZh != ''">
                name_zh=#{nameZh}
            </if>
        </set>
        where id=#{id}
    </update>


</mapper>