<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.yuji.polygon.entity.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="name_zh" property="nameZh" />
    </resultMap>


    <insert id="insertRole" parameterType="java.lang.String" useGeneratedKeys="true" keyProperty="id">
        insert into poly_role(name,name_zh) values (#{name},#{nameZh})
    </insert>

    <select id="getRoleByEmployeeId" parameterType="java.lang.String" resultMap="BaseResultMap">
       select
            r.*
       from
            poly_role r, poly_employee_role er
       where
            er.`eid` = #{eid} and er.`rid` = r.`id`
    </select>

    <!-- 删除一个或多个角色 -->
    <delete id="deleteRoleById">
        delete
            poly_role,
            poly_role_permission
        from
            poly_role left join poly_role_permission on poly_role.`id`=poly_role_permission.`rid`
        <where>
            <if test="ids.length &gt; 0">
                poly_role.`id` in
                <foreach collection="ids" item="id" open="(" close=")" separator=",">
                    #{id}
                </foreach>
            </if>
        </where>

    </delete>



</mapper>