<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuji.polygon.mapper.FlowLineMapper">

    <resultMap id="BaseResultMap" type="com.yuji.polygon.entity.FlowLine">
        <id column="id" property="id"  />
        <result column="flow_no" property="flowNo" />
        <result column="current_node" property="currentNode"  />
        <result column="next_node" property="nextNode" />
        <result column="flow_state" property="flowState"  />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />


    </resultMap>



    <insert id="insertFlowLine" parameterType="com.yuji.polygon.entity.FlowLine" useGeneratedKeys="true" keyProperty="id">
        insert into poly_flow_line set flow_no=#{flowNo}, current_node=#{currentNode}, next_node=#{nextNode}, flow_state=#{flowState}
             ,gmt_create=#{gmtCreate}, gmt_modified=#{gmtModified}
    </insert>



</mapper>